<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset-password</title>
</head>
<body>
    <% if (err) { %>
     <%= err.message %>
    <% } %>
    <p>Reset your password</p>

    <form action="/users/resetPassword?token=<%=token%>&email=<%=email%>" method="post">
        <div>
            <label for="password">New Password</label>
            <input type="password" name="password" id="password" placeholder="********">
        </div>
        <div>        
            <label for="confirmPassword">confirmPassword</label>
            <input type="confirmPassword" name="confirmPassword" id="confirmPassword" placeholder="********">
        </div> 
        <button type="submit">Save</button> 
    </form>
</body>
</html>