<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset-password</title>
</head>
<body>
    <% if (err) { %>
     <p><%= err.message %></p>
    <% } %>
    <p>Enter a mail</p>
    <form action="/users/enterEmailToResetPassword" method="POST">
        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="example@abc.com">
        <button type="submit">Next</button>
    </form>
</body>
</html>